Skip to content
Return to Workspace

Find a file

1103/1133

Youngwook-Go
Youngwook-Go
Author
18 hours ago
css/main.css
Compare

Restore to 1103
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
▼
▼
▼
▼
▼
/* Created by: Youngwook
* Created on: Sep 2020
* This file contains the CSS for index1.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  padding: 10px;
  background: #A2EAF2;
  position: relative;
}

a {
  padding: 16px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 36px;
  vertical-align: middle;
}

.demo-card-wide.mdl-card {
  width: 1024px;
}

.demo-card-wide > .mdl-card__title {
  background-color: 
#0597F2;
}